.name {
  position: static;
  color: #aa2917;
  font-family: monospace;
}
.type {
  color: blue;
}
.block{
  background-color: orange;
  padding: 10px;
}
.image{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
body{
  background-image: url(https://www.publicdomainpictures.net/pictures/30000/velka/solid-green-background.jpg);
}
p{
  font-family: monospace;
  font-size: large;
}
.navbar{
  margin: 25;
  padding: 0;
  width: 250px;
  text-align: center;
  background-color: orange;
  border-bottom-left-radius: : 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
}
.navbar li{
  display: inline;
}
.navbar a {
  color: #fff;
  padding: 5px 11px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  width: 100px;
  border-bottom-left-radius: : 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 30px;
}
.navbar a:hover {
  background-color: #0066FF;
}
.navbar a:active{
  color: red;
}
.navbar a:focus{
  color: #aa2917;
}
.demo{
  text-indent: 15px;
  line-height: 30px;
  cursor: text;
}
